.card-image {
    width: 200px;
    /* Ancho deseado para las imágenes */
    height: 200px;
    /* Altura deseada para las imágenes */
    object-fit: cover;
    /* Ajusta la imagen para cubrir todo el contenedor manteniendo su relación de aspecto */
}

.card {
    background-color: #d7e2f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    max-width: 300px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-decoration: none;
}

.card p {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 5px;
}

.card-image {
    border-radius: 10px;
    max-width: 100%;
}

.card-link {
    text-decoration: none;
    color: inherit;
    /* Opcional: mantiene el color del texto */
}