.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* Establece el tamaño de la imagen de fondo como cubrir toda la pantalla */
  background-size: cover;
  
  /* Establece la imagen de fondo */
  
  /* Repite la imagen de fondo en ambas direcciones horizontal y verticalmente */
  background-repeat: repeat;
  }
  
  .select-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .select-container select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .select-container button {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .select-container button:hover {
    background-color: #0056b3;
  }
  
  .ResetFiltersButton {
    background-color: #dc3545;
  }
  
  .ResetFiltersButton:hover {
    background-color: #c82333;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }